<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>727185026160-i5srap1b13sp114s281ai98ihj20atr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727185026160-i5srap1b13sp114s281ai98ihj20atr3</string>
	<key>API_KEY</key>
	<string>AIzaSyCu6mWBb7nEjFVVJhI65o-A_kQP_RkLVyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>727185026160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myown.sGs</string>
	<key>PROJECT_ID</key>
	<string>manopdp-df964</string>
	<key>STORAGE_BUCKET</key>
	<string>manopdp-df964.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727185026160:ios:7f62266f67a460d2</string>
	<key>DATABASE_URL</key>
	<string>https://manopdp-df964.firebaseio.com</string>
</dict>
</plist>